



.projet h4 {
    margin-top: 60px;
    text-align: center;
    font-size: 1.5em;
}

.projet img {
    z-index: 2;
    margin-bottom: 40px;
    border:1px solid rgb(134, 134, 134);
    max-width: 95%;

}

.projet p {
    margin-top: 20px;
}

.projet{
    transition: none;
    transform: none;
    text-align: center;
    
}

.portfolio{
    text-align: left;
}

.portfolio ul li{
    margin: 10px 0px 0px 35px;
    list-style-type: disc;
}

nav{font-size: initial;}

#Realisations{
    text-align:center;
    display: inline;
    font-size: 1.2em;
}